#popup_wrapper, #popup_wrapper * { 
  box-sizing: border-box; 
} 

#popup_wrapper { 
  position: fixed; 
  top: 0; 
  left: 0; 
  z-index: 100; 
  width: 100vw; 
  height: 100vh; 
  background: rgba(0, 0, 0, 0.5); 
    
  opacity: 0; 
  visibility: hidden; 
  transition: opacity 0.2s; 
} 

#popup_wrapper.open { 
  opacity: 1; 
  visibility: visible; 
} 

#popup_box { 
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  min-width: 20vw; 
  max-width: 80vw; 
  min-height: 20vh;
  max-height: 80vh;
  background-color: #000;
} 

#popup_title { 
  background: #000000; 
} 

#popup_content { 
  background: #fff;
  color: #000;
  overflow-y: scroll;
  overflow-x: hidden;
} 

#popup_title, #popup_content { 
  padding: 10px; 
  margin: 0; 
} 

#popup_title, #popup_close { 
  font-size: 28px; 
  color: #fff; 
} 

#popup_close { 
  position: absolute; 
  top: 5px; 
  right: 5px; 
  cursor: pointer; 
}
